<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="common">
  <script th:src="@{/js/jquery/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/js/jquery/jquery-ui.min.js}"></script>
  <script th:src="@{/js/jquery/jquery.cookie.js}"></script>
  <script th:src="@{/js/jquery/jquery.mask.min.js}"></script>
  <script th:src="@{/js/jquery/jquery.form.min.js}"></script>
  <script th:src="@{/js/jquery/jquery.blockUI.js}"></script>
  <script th:src="@{/js/jquery/autoNumeric.js}"></script>
  <script th:src="@{/js/jquery/jquery.number.min.js}"></script>
  <script th:src="@{/js/jquery/jquery.validationEngine-ko.js}"></script>
  <script th:src="@{/js/jquery/jquery.validationEngine.min.js}"></script>


  <link rel="stylesheet" th:href="@{/css/jquery/jquery-ui.min.css}">
  <link rel="stylesheet" th:href="@{/css/jquery/validationEngine.jquery.css}">

  <!-- <link rel="stylesheet" th:href="@{/css/app.css}"> -->
  <link rel="stylesheet" th:href="@{/css/design.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">

  <link rel="stylesheet" th:href="@{/css/tabulator/tabulator.min.css}">
  <link rel="stylesheet" th:href="@{/css/tabulator/tabulator_bootstrap5.min.css}">
  <link rel="stylesheet" th:href="@{/css/tabulator/tabulator-custom.css}">

  <link rel="stylesheet" th:href="@{/plugins/jstree/dist/themes/default/style.min.css}">

  <script th:src="@{/js/xlsx/xlsx.full.min.js}"></script>
  <script th:src="@{/js/tabulator/tabulator.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/code.js}"></script>
  <script th:src="@{/js/file.js}"></script>
  <script th:src="@{/js/layer.js}"></script>
  <script th:src="@{/js/popup.js}"></script>
  <script th:src="@{/js/loading.js}"></script>
  <script th:src="@{/js/common_layer.js}"></script>
  <script th:src="@{/js/grid.js}"></script>
  <script th:src="@{/js/tab.js}"></script>
  <script th:src="@{/js/ajax.js}"></script>
  <script th:src="@{/js/form.js}"></script>
  <script th:src="@{/js/format.js}"></script>
  <script th:src="@{/js/validation.js}"></script>
  <script th:src="@{/js/image.js}"></script>

  <script th:src="@{/plugins/smarteditor/js/HuskyEZCreator.js}"></script>
  <script th:src="@{/js/editor.js}"></script>

  <script th:src="@{/plugins/jstree/dist/jstree.min.js}"></script>
  <script th:src="@{/js/tree.js}"></script>

  <script th:src="@{/js/dayjs/dayjs.min.js}"></script>
  <script th:src="@{/js/dayjs/locale/ko.js}"></script>
  <script th:src="@{/js/dayjs/plugin/relativeTime.js}"></script>
  <script th:src="@{/js/date.js}"></script>

  <script th:src="@{/js/lodash/lodash.min.js}"></script>
  <script th:src="@{/js/string.js}"></script>
</th:block>

</html>