<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="footer">
<!--         <div id="footer" class="footer"> -->
<!--             <div class="footerInner"> -->
<!--                 <div class="footerTop"> -->
<!--                     <p class="footerLogo">TOBESOFT tobemall.com</p> -->
<!--                 </div> -->
<!--                 <div class="footerInfo"> -->
<!--                     대표이사 : 김모란희<br /> -->
<!--                     사업자등록번호 : 211-86-61993<br /> -->
<!--                     주소 : 서울시 강남구 봉은사로 617 -->
<!--                 </div> -->
<!--                 <ul class="footerMenu"> -->
<!--                     <li><a href="#">회사소개</a></li> -->
<!--                     <li><a href="#">이용약관</a></li> -->
<!--                     <li><a href="#">전자금융거래 이용약관</a></li> -->
<!--                     <li><a href="#">개인정보처리방침</a></li> -->
<!--                     <li><a href="#">지식재산권센터</a></li> -->
<!--                 </ul> -->
<!--             </div> -->
<!--         </div> -->
    </th:block>

</html>