<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="leftMenu">
  <script type="text/javascript" th:inline="javascript">
    (() => {
      $(() => {
        // 메뉴 클릭 이벤트
        $('a[id^="mainMenu"], a[id^="subMenu"]').on('click', e => {
          e.preventDefault();

          const $this = $(e.currentTarget);
          const url = $this.attr('href');

          TabUtil.open({ url });
        });

        // 메뉴 1뎁스 클릭 이벤트
        $('.tree_depth1').on('click', e => {
          const $this = $(e.currentTarget);
          if ($this.hasClass('on')) {
            $this.removeClass('on').next('.tree_depth2').slideUp(300);
          } else {
            $('.tree_depth1').removeClass('on');
            $('.tree_depth2').slideUp(300);
            $this.addClass('on').next('.tree_depth2').slideDown(300);
          }
        });

        // 즐겨찾기 On/Off 토글 버튼
        let bookmarkIng = false;
        $('[id^=bookmark]').on('click', e => {
          if (bookmarkIng) {
            return;
          }

          bookmarkIng = true;

          const $this = $(e.currentTarget);
          let isBookmark = $this.hasClass('active');
          const url = `/api/v1/admin-menus/${$this.data('menu-code')}/bookmark`;

          AjaxUtil.call({
            url,
            type: 'POST',
            wait: false,
            callBack: result => {
              if (!result.success) {
                return;
              }

              if (result.data) {
                $this.addClass('active');
              } else {
                $this.removeClass('active');

                const isBookmarkTab = /*[[${ isBookmarkTab }]]*/ false;
                if (isBookmarkTab) {
                  $this.closest('li').fadeOut(200, e => $(e.currentTarget).remove());
                }
              }
            },
            complete: () => {
              bookmarkIng = false;
            }
          });
        });
      });
    })();
  </script>

  <li>
    <div class="menu-item-box">
      <a href="javascript:void(0);" class="tree_depth1">
        샘플
      </a>

      <ul class="tree_depth2">
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuGuide" href="/sample/guide">샘플 공통 컴포넌트</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuForm" href="/sample/form">샘플 기본 폼</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuGrid" href="/sample/grid">샘플 그리드</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuTree" href="/sample/tree">샘플 트리</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuEditor" href="/sample/editor">샘플 에디터</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuUpload" href="/sample/upload">샘플 파일 업로드</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuPopup" href="/sample/popup">샘플 팝업</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuTab" href="/sample/tab">샘플 탭 & 프레임</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuString" href="/sample/format-string">샘플 포맷 & 문자열 유틸</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuValidation" href="/sample/form-validation">샘플 폼 & 유효성 검증 유틸</a>
          </div>
        </li>
        <li>
          <div class="menu-item-box">
            <a class="on" id="subMenuDate" href="/sample/date">샘플 날짜 & 시간 유틸</a>
          </div>
        </li>
      </ul>
    </div>
  </li>

  <!-- 1차 메뉴 Loop (${menuList} 사용) -->
  <li th:each="item, itemStat : ${menuList}">
    <!-- CASE 1: 하위 메뉴(subMenuList)가 없는 단일 1차 메뉴 -->
    <div class="menu-item-box" th:if="${item.subMenuList == null or item.subMenuList.isEmpty()}">
      <a th:id="'mainMenu' + ${itemStat.count}"
        th:href="${#strings.isEmpty(item.linkUrl) ? 'javascript:void(0);' : item.linkUrl}" class="tree_depth"
        th:style="${not #strings.isEmpty(item.color) ? 'color:' + item.color + ';' : null}" th:text="${item.title}">
        1차 메뉴명
      </a>

      <!-- URL이 있는 경우 즐겨찾기 별 표시 -->
      <th:block th:if="${not #strings.isEmpty(item.linkUrl)}">
        <span th:id="'bookmark' + ${item.uid}" class="bookmark-star main-star"
          th:classappend="${item.isBookmark} ? 'active'" th:data-menu-code="${item.menuCode}">★</span>
      </th:block>
    </div>

    <!-- CASE 2: 하위 메뉴(subMenuList)가 존재할 때 -->
    <th:block th:if="${item.subMenuList != null and !item.subMenuList.isEmpty()}">
      <a th:href="${#strings.isEmpty(item.linkUrl) ? 'javascript:void(0);' : item.linkUrl}" class="tree_depth1"
        th:classappend="${item.topMargin == '1' ? 'menu-top-margin' : ''}"
        th:style="${not #strings.isEmpty(item.color) ? 'color:' + item.color + ';' : null}" th:text="${item.title}">
        1차 메뉴명
      </a>

      <!-- 2차 서브 메뉴 Loop (${item.subMenuList} 사용) -->
      <ul class="tree_depth2">
        <li th:each="subItem, subItemStat : ${item.subMenuList}">
          <div th:class="'menu-item-box toggleBG' + ${itemStat.count} + ${subItemStat.count}">
            <a th:id="'subMenu' + ${itemStat.count} + ${subItemStat.count}"
              th:href="${#strings.isEmpty(subItem.linkUrl) ? '#' : subItem.linkUrl}" class="on"
              th:style="${not #strings.isEmpty(subItem.color) ? 'color:' + subItem.color + ';' : null}"
              th:text="${subItem.title}">
              2차 서브 메뉴명
            </a>

            <!-- 2차 메뉴 즐겨찾기 별 표시 -->
            <th:block th:if="${not #strings.isEmpty(subItem.linkUrl)}">
              <span th:id="'bookmark' + ${subItem.uid}" class="bookmark-star sub-star"
                th:classappend="${subItem.isBookmark} ? 'active'" th:data-menu-code="${subItem.menuCode}">★
              </span>
            </th:block>
          </div>
        </li>
      </ul>
    </th:block>
  </li>

  <!-- 메뉴 데이터가 존재하지 않을 때 처리 -->
  <li th:if="${menuList == null or menuList.isEmpty()}" class="no-menu">
    <span class="no-menu-txt" th:text="${isBookmarkTab} ? '등록된 즐겨찾기 메뉴가 없습니다.' : '조회된 메뉴가 없습니다.'">
    </span>
  </li>

</th:block>

</html>