<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.theloungemembers.core.admin.mapper.AdminMenuMapper">
    <resultMap id="AdminMenuResultMap" type="com.theloungemembers.core.admin.AdminMenuResult">
        <id property="uid" column="uid"/>
        <result property="menuCode" column="menu_code"/>
        <result property="parentCode" column="parent_code"/>
        <result property="linkUrl" column="link_url"/>
        <result property="title" column="title"/>
        <result property="color" column="color"/>
        <result property="topMargin" column="top_margin"/>
        <result property="displayOrdinal" column="display_ordinal"/>
        <result property="bookmarkDisplayOrdinal" column="bookmark_display_ordinal"/>
        <result property="isBookmark" column="is_bookmark"/>
    </resultMap>

    <!-- 메인 메뉴 목록 (Level 1) -->
    <select id="selectMainMenuList" resultMap="AdminMenuResultMap">
        /* AdminMenuMapper.selectMainMenuList */
        <choose>
            <when test="isAdmin">
                SELECT 
                       am.uid
                     , am.menu_code
                     , am.link_url
                     , am.title
                     , am.color
                     , am.top_margin
                FROM admin_menu am
                WHERE am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                  AND am.level = 1
                  AND am.display_in_menu = '1'
                ORDER BY am.display_ordinal ASC
            </when>
            <otherwise>
                SELECT 
                       t.uid
                     , t.menu_code
                     , t.link_url
                     , t.title
                     , t.color
                     , t.top_margin
                     , t.display_ordinal
                FROM (
                    SELECT 
                           am.uid
                         , am.menu_code
                         , am.link_url
                         , am.title
                         , am.color
                         , am.top_margin
                         , am.display_ordinal
                    FROM admin_menu am
                    JOIN admin_menu_permission amp ON (
                        (am.auth_code <![CDATA[ <> ]]> '' AND am.auth_code = amp.menu_code) OR (am.menu_code = amp.menu_code)
                    )
                    WHERE am.level = 1
                      AND am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                      AND am.display_in_menu = '1'
                      AND amp.worker_id = #{workerId}
                      AND amp.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'

                    UNION

                    SELECT 
                           am.uid
                         , am.menu_code
                         , am.link_url
                         , am.title
                         , am.color
                         , am.top_margin
                         , am.display_ordinal
                    FROM admin_menu am
                    WHERE am.level = 1
                      AND am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                      AND am.display_in_menu = '1'
                      AND am.default_permission = '1'
                ) t
                ORDER BY t.display_ordinal ASC
            </otherwise>
        </choose>
    </select>

    <!-- 서브 메뉴 목록 (Level 2) -->
    <select id="selectSubMenuList" resultMap="AdminMenuResultMap">
        /* AdminMenuMapper.selectSubMenuList */
        <choose>
            <when test="isAdmin">
                SELECT
                       am.uid
                     , am.menu_code
                     , am.parent_code
                     , am.link_url
                     , am.title
                     , am.color
                  FROM admin_menu am
                 WHERE am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                   AND am.level = 2
                   AND am.display_in_menu = '1'
              ORDER BY am.display_ordinal ASC
            </when>
            <otherwise>
                SELECT 
                       t.uid
                     , t.menu_code
                     , t.parent_code
                     , t.link_url
                     , t.title
                     , t.color
                     , t.display_ordinal
                     , (amb.menu_code IS NOT NULL) AS is_bookmark
                  FROM (
                    SELECT 
                           am.uid
                         , am.menu_code
                         , am.parent_code
                         , am.link_url
                         , am.title
                         , am.color
                         , am.display_ordinal
                      FROM admin_menu am
                      JOIN admin_menu_permission amp ON (
                        (am.auth_code <![CDATA[ <> ]]> '' AND am.auth_code = amp.menu_code) OR (am.menu_code = amp.menu_code)
                      )
                     WHERE am.level = 2
                       AND am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                       AND am.display_in_menu = '1'
                       AND amp.worker_id = #{workerId}
                       AND amp.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'

                     UNION

                    SELECT 
                           am.uid
                         , am.menu_code
                         , am.parent_code
                         , am.link_url
                         , am.title
                         , am.color
                         , am.display_ordinal
                      FROM admin_menu am
                     WHERE am.level = 2
                       AND am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                       AND am.display_in_menu = '1'
                       AND am.default_permission = '1'
                  ) t
            LEFT JOIN admin_menu_bookmark amb 
                   ON amb.menu_code = t.menu_code
                  AND amb.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                  AND amb.worker_id = #{workerId}
                ORDER BY t.display_ordinal ASC
            </otherwise>
        </choose>
    </select>

    <!-- 즐겨찾기 메뉴 목록 -->
    <select id="selectBookmarkList" resultMap="AdminMenuResultMap">
        /* AdminMenuMapper.selectBookmarkList */
        <choose>
            <when test="isAdmin">
                SELECT
                       am.uid
                     , am.menu_code
                     , am.link_url
                     , am.title
                     , am.color
                     , ((SELECT display_ordinal FROM admin_menu WHERE menu_code = am.parent_code AND level = 1) * 1000 + am.display_ordinal) AS bookmark_display_ordinal
                  FROM admin_menu_bookmark amb
                  JOIN admin_menu am ON am.menu_code = amb.menu_code
                 WHERE am.level = 2
                   AND am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                   AND (am.display_in_menu = '1' OR am.tab_code <![CDATA[ <> ]]> '')
                   AND amb.worker_id = #{workerId}
                   AND amb.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
              ORDER BY bookmark_display_ordinal ASC
            </when>
            <otherwise>
                SELECT
                       t.uid
                     , t.menu_code
                     , t.link_url
                     , t.title
                     , t.color
                     , (amb.menu_code IS NOT NULL) AS is_bookmark
                  FROM (
                    SELECT
                           am.uid
                         , am.menu_code
                         , am.link_url
                         , am.title
                         , am.color
                         , ((SELECT display_ordinal FROM admin_menu WHERE menu_code = am.parent_code AND level = 1) * 1000 + am.display_ordinal) AS bookmark_display_ordinal
                      FROM admin_menu_bookmark amb
                      JOIN admin_menu am ON am.menu_code = amb.menu_code
                 LEFT JOIN admin_menu_permission amp ON (
                        (am.auth_code <![CDATA[ <> ]]> '' AND am.auth_code = amp.menu_code) OR (am.menu_code = amp.menu_code)
                     )
                     WHERE am.level = 2 AND am.on_service = '1' AND (am.display_in_menu = '1' OR am.tab_code <![CDATA[ <> ]]> '')
                       AND amb.worker_id = #{workerId}
                       AND amb.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                       AND (
                              am.tab_code <![CDATA[ <> ]]> ''
                              OR (
                                    am.display_in_menu = '1'
                                    AND amp.worker_id = #{workerId}
                                    AND amp.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                                 )
                           )

                     UNION

                    SELECT
                           am.uid
                         , am.menu_code
                         , am.link_url
                         , am.title
                         , am.color
                         , ((SELECT display_ordinal FROM admin_menu WHERE menu_code = am.parent_code AND level = 1) * 1000 + am.display_ordinal) AS bookmark_display_ordinal
                      FROM admin_menu_bookmark amb
                      JOIN admin_menu am ON am.menu_code = amb.menu_code
                     WHERE am.level = 2
                       AND am.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                       AND (am.display_in_menu = '1' OR am.tab_code <![CDATA[ <> ]]> '')
                       AND am.default_permission = '1'
                       AND amb.worker_id = #{workerId}
                       AND amb.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                  ) t
            LEFT JOIN admin_menu_bookmark amb 
                   ON amb.menu_code = t.menu_code
                  AND amb.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
                  AND amb.worker_id = #{workerId}
             ORDER BY t.bookmark_display_ordinal ASC
            </otherwise>
        </choose>
    </select>

    <select id="selectMenuTitle" resultMap="AdminMenuResultMap">
        /* AdminMenuMapper.selectMenuTitle */
        SELECT
               COALESCE(p.title, c.title) AS main_title
             , c.title AS sub_title
             , c.menu_code
             , c.parent_code
          FROM admin_menu c
     LEFT JOIN admin_menu p
            ON c.parent_code = p.menu_code
           AND p.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
         WHERE c.link_url = #{linkUrl}
           AND c.on_service = '${@com.theloungemembers.core.type.ServiceStatus@IN_SERVICE.code}'
         LIMIT 1
    </select>
</mapper>