<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.theloungemembers.core.api.mapper.ApiErrorSubCodeMapper">

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM api_error_sub_code
        <include refid="where"/>
    </select>

    <select id="selectList" resultType="com.theloungemembers.core.api.ApiErrorSubCodeResult">
        SELECT
               uid
             , error_sub_code
             , error_sub_meaning
             , error_sub_meaning_ko
             , memo
             , reg_date
        FROM api_error_sub_code
        <include refid="where"/>
        <include refid="CommonMapper.sortSql"/>
        <include refid="CommonMapper.pageSql"/>
    </select>


    <sql id="where">
        <where>
            <choose>
                <when test="searchTarget == 'uid'">
                    AND uid = #{searchValue}::INTEGER
                </when>
                <when test="searchTarget == 'error_sub_code'">
                    AND error_sub_code = #{searchValue}
                </when>
                <when test="searchTarget == 'error_sub_meaning_like'">
                    AND error_sub_meaning LIKE '%' || #{searchValue} || '%'
                </when>
                <when test="searchTarget == 'error_sub_meaning_ko_like'">
                    AND error_sub_meaning_ko LIKE '%' || #{searchValue} || '%'
                </when>
            </choose>
        </where>
    </sql>

</mapper>
