<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <th:block th:replace="~{fragments/head_common :: headCommon}"></th:block>

  <link rel="stylesheet" th:href="@{/css/login.css}" />

  <script type="text/javascript" th:inline="javascript">
    if (window.self !== window.top) {
      window.top.location.href = window.location.href;
    }

    $(() => {

      getId();

      if ($('#workerId').val().trim() !== '') {
        $('#password').focus();
      }

      $('#loginBtn').on('click', e => {
        e.preventDefault();

        if (!$('#workerId').val().trim()) {
          alert('아이디를 입력해주세요.');
          $('#workerId').focus();
          return;
        }
        if (!$('#password').val().trim()) {
          alert('비밀번호를 입력해주세요.');
          $('#password').focus();
          return;
        }

        saveId();

        AjaxUtil.call({
          url: /*[[@{/api/login}]]*/ '/api/login',
          data: FormUtil.serialize('#loginForm'),
          callBack: result => {
            if (!result.success) {
              return;
            }

            location.href = '/main'
          }
        });
      });

      $('#password').keydown(e => {
        if (e.keyCode === 13) {
          $('#loginBtn').click();
        }
      });
    });

    const saveId = () => {
      if ($('#checkId').is(':checked')) {
        localStorage.setItem('savedWorkerId', $('#workerId').val().trim());
      } else {
        localStorage.removeItem('savedWorkerId');
      }
    }

    const getId = () => {
      const savedId = localStorage.getItem('savedWorkerId');
      if (savedId) {
        $('#workerId').val(savedId);
        $('#checkId').prop('checked', true);
      }
    }
  </script>
</head>

<body>
  <div class="login_cont">
    <div><img th:src="@{/images/login_title_418x33.png}" alt="Title Logo"></div>
    <h2></h2>
    <div class="loginMainWrap">
      <form name="loginForm" id="loginForm" method="post" role="form" autocomplete="off">
        <input placeholder="아이디" name="workerId" id="workerId" type="text" title="아이디" autocomplete="off" />
        <input class="mt10" placeholder="비밀번호" name="password" id="password" type="password" title="비밀번호"
          autocomplete="off" />
        <div class="checkbox">
          <label for="checkId">
            <input type="checkbox" name="checkId" id="checkId" onclick="saveId();"> 아이디 저장
          </label>
        </div>
        <a href="javascript:void(0)" id="loginBtn" class="btn_login btn-block">로그인</a>
      </form>
    </div>
    <p class="desc"></p>
  </div>
</body>

</html>