<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main_layout}">

<head>
  <title>더 라운지 관리자 시스템</title>
</head>

<th:block layout:fragment="script">
  <script type="text/javascript">
    $(() => {
      // 메인 레이아웃 로드 완료 시 대시보드(홈) 탭 오픈
      if (typeof TabUtil !== 'undefined') {
        TabUtil.openHome();
      }

      $(document).on('load resize', () => {
        makeHeight();
      });
    });

    // iframe 높이 동적 계산 스크립트
    const makeHeight = () => {
      const height = $(window).innerHeight();
      $('iframe').css({
        'height': (height - 126) + 'px'
      });
    }
  </script>
</th:block>

<body>
</body>

</html>